@charset "UTF:8";
*{height: auto;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-image: linear-gradient(to bottom,#D9965B,#BF6836,#73321A);
}
main{
    background-color: white;
    width: 600px;
    border-radius: 20px;
    padding: 10px ;
    margin: auto;
    box-shadow: 10px,10px,10px,black;

}
h1{
    color: black;
    box-shadow:10px,1px,0px,#1b0b06 ;
    text-align: center;
}
h2{
    color: black;
}
p{
    text-align: justify;
    color: black;
}