@charset "UTF:8";
*{height: auto;
font-family: Arial, Helvetica, sans-serif;
}

    
main{
    background-color: white;
    width: 600px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px,10px,10px,purple;
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px ;
    background-image: linear-gradient(to right,#a2d2ff,#bde0fe,#ffafcc,#ffc8dd,#cdb4db );
    ;
    
    
    
}
h1,h2{font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}
p{
    font-family: garamond;background-color:white;text-align: center;
    ;
}